body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.container {
    width: 84px;
    height: 1024px;
    background-color: #242625;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.container:hover{
    width: 250px;
}


a{ 
    text-decoration: none;
    color: #C0BFBD;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 14px;
}

.title-text{
    color: #EFEFEF;
}

.title{
    display: flex;
    align-items: center;  
    padding: 20px 0 56px 24px;
}

.title img {
margin-right: 15px;
}

 .img{
    position: absolute;
    top: 38px;
    left: 79px;
    transform:rotate(180deg);
    transition: all 1s ease-in-out;
} 

.container:hover .img{
    transform:rotate(0deg);
    left: 245px;
} 


ul {
    list-style: none;
    padding-inline-start: 0px;
}

.d img {
    padding-right: 30px;
}

.d{
    display: flex;
    margin: 16px;
    padding: 14px 16px;
}

.d:hover{
    border: 1px solid #424444;
    border-radius: 8px;
    background-color: #424444;
}

.c{
    margin-top: 310px !important;

}

.c1{
   align-items: flex-start; 
}

.b{
    display: flex;
    padding: 14px 16px;
    margin: 16px;
}

.b img {
    padding-right: 30px;
}

.switcha{
    padding-right: 0 !important;
    padding-left: 5px;
}






