.header {
    padding: 12px 0;
    border-bottom: 1px solid #C4C4C4;
    box-shadow: 0 4px 4px #00000025;

}

.bg-light {
    background-color: #FFF !important;

}

.header-in {
    max-width: 71.25em;
    margin: 0 auto;
    position: relative;
}

.header a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 2em 0;
    padding: 0;
}

.form-inline {
    width: 95%;
    flex-wrap: nowrap;
}

.button-nav {
    position: absolute;
    top: 1.5em;
    right: 5%;

}


.card {
    width: 100% !important;
    box-shadow: 0 4px 4px #00000025;
}

.card img {
    width: 100%;
}


.row {
    max-width: 71.25em;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}

.btn1 {
    background-color: #EF781A;
    border: #EF781A;
    border-radius: 0.3em;
    width: 6.25em;
    height: 3em;
    color: #FFF;
    box-shadow: 1px 2px 4px black;
    margin-left: 25%;
    transition: all .5s;

}


.btn1:hover {
    background-color: #FF6C01;
    transform: scale(1.1);
}

.btn1:active {
    background-color: #FF6C01;
    border-color: black
}

.btn2 {
    background-color: #00D008;
    border: #00D008;
    border-radius: 0.3em;
    width: 6.25em;
    height: 3em;
    color: #FFF;
    box-shadow: 1px 2px 4px black;
    margin-left: 5%;
    transition: all .5s;

}

.btn2:hover {
    background-color: #04ea0b;
    transform: scale(1.1);
}

.btn-outline-success:active {
    background-color: #04ea0b;
    border: 1px solid black;
}

#text {
    width: 50%;
    padding: .5em 2em;
    background-image: url("../image/city.svg");
    background-repeat: no-repeat;
    background-position-x: .5em;
    background-position-y: center;
    background-size: 1em;

}

.box {
    box-shadow: 0 4px 4px #00000025;
    position: relative;
    z-index: 2;
}

.header-title {
    font-size: 2.25em;
    font-weight: 900;
    margin-top: 4.75em;
    margin-bottom: 1.875em;

}

main {
    background-color: #ECECEC;
    padding-bottom: 71.5em;

}

.nav-item {
    justify-content: flex-start;
}

.nav-start {
    list-style: none;
    justify-content: flex-start;
    padding-inline-start: 0em;

}

.nav-start a {
    background-color: #ECECEC;
    font-size: 1.125em;
    font-weight: 500;
    padding: .5em;
    margin-top: 1.5em;
    border-radius: .625em;
    overflow: hidden;
    margin-right: 1em;

}


.badge-light {
    font-size: 1.125em;
    font-weight: 500;
    color: #7B7B7B;
    transition: all 1s;
}

.badge-light:hover {
    transform: scale(1.25);
}

.main-order {
    background-color: #FFF;
    align-self: baseline;
    padding-bottom: 1em;
    margin: 2em 0;
    box-shadow: 0px 4px 4px #00000025;


}

.main-box-order {
    padding: 1em 2em;
}

.main-box-order1 {
    padding: 0 2em;

}

.box-order-in {
    align-items: flex-start;
    flex-wrap: nowrap;
}

.main-order-img img {
    padding: 0 .5em;
    transition: all .5s;
}

.main-order-img img:hover {
    transform: scale(1.2);
}

.main-box-h2 {
    font-size: 1.1em;
    font-weight: 500;

}

.main-box-h3 {
    font-size: .8em;
    font-weight: 500;
    margin: 0;
}

.main-order ul {
    padding-inline-start: 1em;
}

.main-order li {
    color: #979797;
    font-size: .75em;
    font-weight: 500;

}

.bg-primary {
    width: 100%;
    background-color: #FF6C01 !important;
    padding: 1.25em;
    border-radius: .625em;
    box-shadow: 0 4px 4px #00000025;
    transition: all .5s;
}

.bg-primary:hover {
    transform: scale(1.02);
}

.main-order-last1 {
    font-size: 1.125em;
    font-weight: 700;
    color: #ffffff;
}

.card {
    margin: 1em auto;
}

.card-body {
    padding: 2em;
}

.card-text {
    font-size: .625em;
    font-weight: 500;
    color: #A1A1A1;
}

.card-title {
    font-size: 1.125em;
    font-weight: 500;
}


.row-title2-h2 h2 {
    padding-left: .5em;
}

.column-end {
    padding: 2em;
}

.column-end-in {
    background-color: #FFF;
    justify-content: start;
    padding: 1.875em;
    display: block !important;
    margin: 0 auto;
}

.column-end h3 {
    font-size: .875em;
    font-weight: 500;
    padding: 1em 0 .5em 0;
    color: #999999;

}

.column-end div {
    font-size: 1em;
    font-weight: 500;
}

.card-row {
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.star {
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 2;
    overflow: visible;
}

/* .star:hover{
    width: 12%;
    height: 110%;
} */

#star {
    transition: all 1s;
}


.star:hover #star {
    fill: green;
    stroke: green;
    transform: scale(1.1);
    transform: scaleX(1.1);

}

.price {
    visibility: visible;
    font-size: 1.125em;
    font-weight: 500;
}

.price-a {
    position: absolute;
    top: -.375em;
    left: 0;
    opacity: 0;
    transition: all .5s;

}

.card:hover .price-a {
    display: flex;
    opacity: 1;
}

.card:hover .price {
    visibility: hidden;
}

.about-partner {
    justify-content: flex-start;
}

.btn3 {
    background-color: #FF6C01 !important;
    border: 1px solid #FF6C01;
    border-radius: .625em;
    font-size: .75em;
    font-weight: 700;
}

.btn3:hover {
    border: 1px solid #FF6C01;
}


.up {
    position: fixed;
    top: 75vh;
    left: 9vw;
    transition: all .5s;
}

.up:hover {
    width: 5%;
    transform: rotate(360deg);
   
}

.footer-color {
    background-color: #323232;
}

.footer-row {
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    flex-wrap: wrap;
}

.row-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1em 0;
}

.row-ul li {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;

}

.row-ul a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width:1200px) {
    .about-partner {
        justify-content: space-around;
    }

    .column-end {
        margin: 0 auto;
    }


}

@media screen and (max-width:992px) {

    .header-title {
        position: static;
        flex-grow: inherit;

    }

    .about-partner {
        justify-content: space-evenly;
    }

    .nav-start {
        justify-content: space-around !important;
        margin: 0 auto;
    }

    .nav-start a {
        margin-right: 0;
    }

    .nav-start li {
        justify-content: space-around;
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    :root {
        font-size: 12px;
    }

    .navbar-brand {
        padding-left: 5%;
    }


    .nav-start {
        flex-direction: column;
    }

    .nav-start a {
        margin: 0.2em;
    }

    .form-inline {
        flex-direction: column;
        width: 100%;
        justify-content: center;

    }

    h2 {
        margin: .5em;
    }

    .main-box-h2 {
        margin: 2em 0;
    }

    .btn1 {
        margin: 2em auto;
    }

    .btn2 {
        margin: 0 auto;
    }

    .main-box-order {
        padding: 1em 1em;
    }

    .main-box-order1 {
        padding: 0 1em;
    }


    .row-ul li {
        padding: 0 .4em;

    }

    .chanel {
        margin: 0 auto;
    }


}