/* Container 1*/

body {
    background-color: #e5e5e5;
}

.text{
height: 532px;
width: 512px;
margin: 60px 100px 100px 100px;
font-size: 40px;
color: #708090;
}

.box {
    display: flex;
}

.container {
    height: 512px;
    width: 512px;
    box-sizing: border-box;
    background-color: #FFCE22;
    
}

.container_blue {
    background-image: url("../img/Blue.png");
    width: 512px;
    height: 271.5px;
    padding-left: 52.61px;
    padding-top: 144.39px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.container_blue_img {
    background-image: url("../img/Glyph.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 227.36px;
}


/* Container 2 */

.container-border {
    background-image: url("../img1/Border.png");
    height: 512px;
    width: 512px;
    padding-top: 34px;
    padding-left: 34px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


.container-circle-blue {
    background-image: url("../img1/Blue\ \(1\).png");
    width: 444px;
    height: 233.5px;
    padding-top: 214px;
    padding-left: 44px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.container-circle-blue-img {
    background-image: url("../img1/Glyph.png");
    height: 203.73px;
    width: 358.44px;
}

/* Container 3 */

.container_b {
    background-image: url("../img1/Blue\ \(2\).png");
    width: 512px;
    height: 256px;
}

/* Container 4 */


.container-circle-b {
    background-image: url("../img1/Blue\ \(3\).png");
    height: 222px;
    width: 444px;

}

/* Container 5 */

.container_ba {
    background-image: url("../img1/Blue\ \(2\).png");
    width: 512px;
    height: 256px;
    padding-top: 54px;
    box-sizing: border-box;
}


.container_b_petcube {
    background-image: url("../img1/Petcube.png");
    width: 341.58px;
    height: 393px;
    background-repeat: no-repeat;
}

/* Container 6 */


.container_bb {
    background-image: url("../img1/Blue\ \(3\).png");
    height: 222px;
    width: 444px;
    background-repeat: no-repeat;
    padding-top: 62px;
    padding-left: 83px;
    box-sizing: border-box;
}

.container_petcube {
    background-image: url("../img1/Petcube1.png");
    width: 278.13px;
    height: 320px;
}

/* Container 7 */

.container-bc {
    background-image: url("../img1/Blue\ \(2\).png");
    width: 512px;
    height: 256px;
    box-sizing: border-box;
    padding-top: 128px;
    padding-left: 173px;
}

.container-plane {
    background-image: url("../img1/Plane.png");
    width: 339px;
    height: 386px;
    background-repeat: no-repeat;
}

/* Container 8 */


.container_bd {
    background-image: url("../img1/Blue\ \(3\).png");
    height: 222px;
    width: 444px;
    background-repeat: no-repeat;
    padding-top: 62px;
    padding-left: 81px;
    box-sizing: border-box;
}

.container-planea {
    background-image: url("../img1/Plane\ \(1\).png");
    width: 281px;
    height: 320px;

}

/* Container 9 */

.container-be {
    background-image: url("../img1/Blue\ \(2\).png");
    width: 512px;
    height: 256px;
    box-sizing: border-box;
    padding-top: 158.64px;
    padding-left: 93.58px;

}

.container-dia {
    background-image: url("../img1/dia.png");
    height: 182px;
    width: 310px;
}


/* Container 10 */


.container_bf {
    background-image: url("../img1/Blue\ \(3\).png");
    height: 222px;
    width: 444px;
    background-repeat: no-repeat;
    padding-top: 124.6px;
    padding-left: 59.5px;
    box-sizing: border-box;
}

.container-diaa {
    background-image: url("../img1/dia.png");
    height: 182px;
    width: 310px;

}

/* Container 11 */

.container-a {
    width: 512px;
    height: 512px;
    background-color: #000000;
    box-sizing: border-box;
    padding-top: 128.64px;
    padding-left: 100px;

}

.container-diab {
    background-image: url("../img1/dia.png");
    padding-top: 214.36px;
    padding-left: 116px;
    background-repeat: no-repeat;
}

.container-flag {
    background-image: url(../img1/Flag.png);
    width: 80px;
    height: 60px;
}

/* Container 12 */

.container-aa {
    width: 512px;
    height: 512px;
    background-color: #000000;
    box-sizing: border-box;
    padding-top: 23px;
    padding-left: 21px;
}

.flag {
    background-image: url(../img1/Flag.png);
    width: 80px;
    height: 60px;
    box-sizing: border-box;
    padding-top: 105.64px;
    padding-left: 80px;
    background-repeat: no-repeat;
}

.diac {
    background-image: url("../img1/dia.png");
    width: 310px;
    height: 182px;
    background-repeat: no-repeat;
}

/* Container 13*/

.container-ab {

    background-color: #000000;
    box-sizing: border-box;
    padding-top: 27px;
    padding-left: 21px;
}

.container-sub {
    width: 491px;
    height: 425px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 41.64px;
}

.flaga {
    background-image: url(../img1/Flag.png);
    width: 80px;
    height: 60px;
    box-sizing: border-box;
    padding-top: 0px;
    padding-left: 390px;
    background-repeat: no-repeat;
}

.flag-a {
    background-image: url(../img1/Flag.png);
    width: 80px;
    height: 60px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding-top: 101.64px;
}


.diad {
    background-image: url("../img1/dia.png");
    width: 310px;
    height: 182px;
    background-repeat: no-repeat;
}