body {
    font-family: 'Inika', serif;
}



.header {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    max-height: 110px;
    min-height: 50px;
    color: #3E45E8;
    padding: 25px 0;
    box-sizing: border-box;
}

.header-span {
    color: #E8C23E;

}

.container {
    background-image: url("../image/image\ 1.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 259px;
    box-sizing: border-box;
    padding-left: 80px;
}

.container-item {
    background-image: url("/image/flag.png");
    height: 272px;
    width: 60%;
    font-family: Inika;
    font-size: 48px;
    line-height: 76px;
    font-weight: 700px;
    background-repeat: no-repeat;
    padding-left: 35px;
    box-sizing: border-box;
    color: #FFFFFF;

}

.centr {
    margin: 0 80px;
}

.h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 74px 0 21px 0;
}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 25px 0 33px 0;
}

.card,
.card2 {
    border: 1px solid black;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border-radius: 65px;
    box-shadow: 0px 4px 4px #000000;
    overflow: hidden;
    
}

.card-img {
    width: 100%;
}

.card-title a {
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    text-decoration: none;
    padding: 15px 15px;
    box-sizing: border-box;
}

.card-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 50px 15px;
    box-sizing: border-box;
}

.card2 {
    margin: 0 4.5%;
}

.card {
    padding-bottom: 3px;
}

.centr-map {
    text-align: center;
}

.map-text {
    font-size: 40px;
    font-weight: 700;
    margin: 74px 0 21px 0;

}

.line1 {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 21px auto 41px;
}

.bottom {
    border: 1px #2A61F0 solid;
    padding: 20px;
    width: 25%;
    margin: 41px auto 21px;
    font-size: 64px;
    font-weight: 700;
    background-color: #2A61F0;

}

.bottom a {
    color: #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
}

.footer {
    background-color: #2F4A4B;
    text-align: center;
    padding-bottom: 25px;
}

.footer-text {
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;

}

.footer-email a,
.footer-tel a {
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    color: #A89D9D;
}

.footer-link a {
    margin: 0 5px;
    padding: 5px;
}