body {
    font-family: 'PT Sans', sans-serif;
}

.position a {
    min-width: 5vw;
    max-width: 16vw;
    height: 3vw;
    background-color: #202846;
    font-size: 1.2vw;
    font-weight: 400;
    color: #FFF;
    border-radius: 60px;
    position: absolute;
    text-align: center;
    padding: 0.7vw 2vw ;
    box-sizing: border-box;
    right: -61px;
    top: 14vw;
    text-decoration: none;
}

.top {
    width: 75px;
    position: fixed;
    right: 3vw;
    bottom: 25vh;

}

img {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    border-right: 2px solid #fff;
    padding-right: 20px;
    font-weight: 700;
    font-size: 1.4vw;
    margin-left: 15px;

}

a {
    color: #FFF;
}

.header {
    background-color: #202846;
}

.header-in {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin-left: 15%;
}

.logo {
    height: 70px;
    margin: 10px;
}

.lang {
    display: flex;
    align-items: center;

}

.ua {
    font-size: 1.4vw;
    font-weight: 700;
    color: #FFF;
}

.header-info {
    background: #C6C6DC;
    height: 140px;
}

.header-info-txt {
    font-size: 3vw;
    font-style: italic;
    font-weight: 400;
    width: 75%;
    padding-top: 2%;
    margin: 0 auto;
    color: #202846;
}

.center {
    background-color: #E5E5E5;
    padding: 150px 0 50px 0;
}


/* card */
.card {
    width: 78%;
    margin: 36px auto;
    display: flex;
    justify-content: space-between;
    background-color: #BDBDC6;
    padding: 28px;
    position: relative;
    transition: all 0.3s;
}

.card-img{
    width: 40%;
}

.card-txt {
    width: 50%;
}

.card-txt1 {
    font-size: 3vw;
    font-style: italic;
    font-weight: 700;
    color: #353C57;

}

.cardline {
    height: 3px;
    background-color: #FFF;
}

.card-txt2 {
    font-size: 1.3vw;
    font-weight: 400;
    text-align: center;
    color: #202846;
    background: #D7D7DD;
    padding: 15px;

}

svg path {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
} 

.card:hover svg {
    fill: yellow;
}

.star{
    width: 1%;
}
