 body {
     background-color: #E5E5E5;

 }

 input {
     border: 1px solid #969696;
 }

 label {
     padding: 25px 0px 8px;
     display: block;
     font-size: 16px;
     font-weight: 500;
     line-height: 22px;
 }

 input,
 select,
 option {
     min-width: 90%;
     height: 32px;
     padding: 5px 10px;
     box-sizing: border-box;
 }

 .container {
     min-width: 700px;
     max-width: 1000px;
     background-color: #F9F9F9;
     margin: 0 auto;
 }

 .box {
     padding: 64px 45px 110px 45px;
 }

 .box-h1 {
     font-size: 24px;
     font-weight: 700;
     line-height: 28px;
 }

 .box-link {
     margin: 79px 0 24px;
     font-size: 14px;
     font-weight: 400;
 }

 .box-info {
     font-size: 20px;
     font-weight: 700;
 }

 span {
     color: #D83933;
 }

 .row {
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .row1 {
     width: 50%;
 }


 .aplication {
     color: #0050D8;
     background-image: url("../image/Vector.svg");
     background-repeat: no-repeat;
     background-position: right;
     background-size: 20px;

 }

 .line {
     border-bottom: 1px solid #D1D1D1;
     margin-top: 27px;
     margin-bottom: 32px;
 }

 .line1 {
     border-bottom: 1px solid #D1D1D1;
     margin-top: 32px;
     margin-bottom: 32px;
 }

 .row1-add {
     padding-top: 7%;
 }

 .chekbox1 {
     display: inline-block;
     vertical-align: bottom;
     display: inline-block;
 }

 .chekbox-input {
     min-width: 0%;
     width: 24px;
 }

 .exempt {
     color: #171717;
 }

 .text {
     color: #747474;
 }

 .search {
     background-image: url("../image/Search.svg");
     background-repeat: no-repeat;
     background-position: right;
     background-position-x: 98%;
     background-size: 22px;

 }

 .btn {
     border: 1px solid #0050D8;

 }

 .button {
     text-align: right;
 }

 .btn {
     padding: 9px 16px;
     background-color: #0050D8;
     color: #FFFFFF;
     border-radius: 5px;

 }