html {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Rosario', sans-serif;
    margin: 0;
    
}

.container {
    max-width: 1620px;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
   
}

.box-hover {
    display: none;
}


.box-logo {
    max-width: 15%;

}

.box-nav-ul {
    list-style: none;
    display: flex;
}

.box-nav-li a {
    text-decoration: none;
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    padding: 1rem;
    box-sizing: border-box;
    margin-right: 1rem;
    color: #FFFCFC;
}

.box-nav-ul {
    overflow: visible;
    height: 100%;
}


.box1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 9% 0 0;
    box-sizing: border-box;
    margin-bottom: 7%;

}

.box1-boarder_left {
    width: 20%;
}


.box1-boarder_left img {
    width: 100%;
    padding-top: 20%;
    animation: box1_left 4s ease-out;
}

@keyframes box1_left {

    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0);
    }

}

.box1-cntr_left {
    width: 25%;
}

.box1-cntr_left {
    width: 25%;
    animation: left-box 2s ease-out;
}

.box1-cntr_left img {
    width: 99%;
    padding-bottom: 4rem;
}

@keyframes left-box {

    from {
        transform: translateX(-200%);
    }

    to {
        transform: translatex(0);

    }

}

.box1-cntr_right {
    width: 25%;
    animation: right-box 2s ease-out;
}


.box1-cntr_right img {
    width: 100%;
    padding-bottom: 4rem;
}

@keyframes right-box {


    from {
        transform: translateX(200%);
    }

    to {
        transform: translatex(0);
    }

}



.box1-boarder_right {
    width: 20%;
}

.box1-boarder_right img {
    width: 100%;
    padding-top: 20%;
    animation: box1_right 4s ease-out;
}

@keyframes box1_right {

    from {
        transform: translateX(200%);
    }

    to {
        transform: translatex(0);

    }



}


.box2 {
    display: flex;
    justify-content: space-between;
}

.box2-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 6% 0;
    text-align: center;
    box-sizing: border-box;

}

.box2-container-in1,
.box2-ellips {
    width: 80%;
}


.box2-container-eclipse1,
.box2-container-eclipse2,
.box2-container-eclipse3,
.box2-container-eclipse4 {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

}

.box2-container-eclipse1 {
    animation: elipse1 20s ease-out infinite;
}

@keyframes elipse1 {

    from,
    to {
        top: 0%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: 100%;
    }

    50% {
        top: 50%;
        left: 100%;
    }

    75% {
        top: 50%;
        left: 0%;
    }
}


.box2-container-eclipse2 {


    animation: elipse2 20s linear infinite;
}

@keyframes elipse2 {

    from,
    to {
        top: 0%;
        left: 0%;

    }



    25% {
        top: -50%;
        left: 0%;
    }



    50% {
        top: -50%;
        left: 100%;
    }

    75% {
        top: 0%;
        left: 100%;
    }
}

.box2-container-eclipse3 {

    animation: elipse3 20s ease-out infinite;
}

@keyframes elipse3 {

    from,
    to {
        top: 0%;
        left: 0%;

    }

    25% {
        top: 50%;
        left: 0%;
    }

    50% {
        top: 50%;
        left: -100%;
    }

    75% {
        top: 0%;
        left: -100%;
    }
}


.box2-container-eclipse4 {

    animation: elipse4 20s ease-out infinite;
}

@keyframes elipse4 {

    from,
    to {
        top: 0%;
        left: 0%;

    }

    25% {
        top: 0%;
        left: -100%;
    }

    50% {
        top: -50%;
        left: -100%;
    }

    75% {
        top: -50%;
        left: 0%;
    }
}

.box2-big_foto {
    width: 50%;
}

.box2-big_foto img {
    width: 100%;

}

.box2-text {
    font-size: 3em;
    font-style: italic;
    font-weight: 700;
    line-height: 50px;
    text-align: center;


}

.box3_head {
    color: #000000;
    font-size: 8rem;
    font-weight: 700;
    line-height: 11.6rem;
    text-align: center;
    padding: 7% 5rem 5rem 5rem;
}


.box3-img {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;

}

.box3-imgs {
    overflow: hidden;
    position: relative;
    border-radius: 3rem;
    width: 20%;
}


.color {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 1;
    opacity: .4;
    transition: all 1s;

}

.box3-imgs:hover .color {
    opacity: 0;
}


.box3-imgs img {
    width: 100%;
    height: 100%;

}

.people1,
.people2,
.people3,
.people4 {
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #A3530A;
    opacity: .7;
    color: #FFFAFA;
    font-weight: 400;
    font-size: 4rem;
    line-height: 7rem;
    transition: all 1s ease-in-out;
    padding-top: 5%;
    border-radius: 0 0 3rem 3rem;
    box-sizing: border-box;

}

.people1,
.people2,
.people3,
.people4 {
    opacity: 0;
}



.box3-imgs:hover .people1 {
    z-index: 1;
    transition: all 1s ease-in-out;
    opacity: .7;
}

.box3-imgs:hover .people2 {
    z-index: 1;
    transition: all 1s ease-in-out;
    opacity: .7;
}


.box3-imgs:hover .people3 {
    z-index: 1;
    transition: all 1s ease-in-out;
    opacity: .7;
}


.box3-imgs:hover .people4 {
    z-index: 1;
    transition: all 1s ease-in-out;
    opacity: .7
}


.box4 {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}

.box4-message {

    width: 60%;
    margin: 0 auto;
}

.box4-title {
    font-size: 5.5rem;
    font-style: italic;
    font-weight: 700;
    margin: 0 5% 3rem 8%;
    text-align: center;
}

.box4-form {
    margin-bottom: 5.5rem;

}



.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #E5E5E5;
    padding: 3rem;
    margin-left: 8%;
}


.input {
    display: flex;
    justify-content: space-between;

}

.input-in1 {
    margin-right: 1%;
    width: 50%;
}

.input-in2 {
    margin-left: 1%;
    width: 50%;
}


#name,
#email {
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


#text {
    width: 100%;
    height: 17rem;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;

}

.map {
    width: 35%;
    overflow: hidden;
    margin: 1rem 5% 0 5%;

}




.foot {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
}


.foot-adress {
    width: 40%;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: center;
}

.foot-adress a {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
    word-break: break-word;
    font-style: italic;
}

.foot-adress div {
    font-size: 3rem;
    font-weight: 700;

}

.foot-hours {
    width: 30%;
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: center;
    padding-left: 5rem;
    box-sizing: border-box;
}

.foot-hours-title {
    font-weight: 700;
    line-height: normal;
}

.foot-link {
    width: 30%;
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    line-height: 3.6rem;
    text-align: left;

    margin-left: 10rem;
}

.foot-link img {
    display: inline-block;
    width: 3rem;
    margin-right: 5rem;
}

.foot-link a {
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    padding-left: 5rem;

}

.foot-link-title {
    margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {

    html {
        font-size: 7px;

    }


    .container {
        max-width: 960px;

    }

    .box1 {
        flex-wrap: wrap;
        margin-bottom: 0;
    }


    .box1-cntr_left {
        width: 45%;
        order: 1;
    }

    .box1-cntr_right {
        width: 45%;
        order: 1;
    }



    .box1-boarder_left {
        padding-top: 0%;
        width: 45%;
        order: 3;
    }

    .box1-boarder_left img {
        padding: 0;
        animation: box1_left 2s ease-out;
        width: 101%;
    }

    .box1-boarder_right {
        width: 45%;
        order: 3;
    }

    .box1-boarder_right img {
        padding: 0;
        animation: box1_right 2s ease-out;
    }

    .box2 {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .box2-container {
        order: 2;
        width: 100%;
        margin: 0;

    }

    .box2-big_foto {
        width: 93%;
        margin: 0 auto;
        order: 1;
        padding: 4rem 1rem;
        overflow: hidden;

    }

    .box2-big_foto img {
        border-radius: 40px;
    }

    .box2-container-eclipse1,
    .box2-container-eclipse2,
    .box2-container-eclipse3,
    .box2-container-eclipse4 {
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
    }

    .box3-img {
        flex-wrap: wrap;


    }

    .box3-imgs {
        overflow: hidden;
        width: 47%;
        margin: 2% auto;
        border-radius: 6rem;
    }

    .box3-imgs:hover .people1 {
        z-index: 1;
        transform: translateY(0%);
        opacity: .7;

    }


    .box3-imgs:hover .people2 {
        z-index: 1;
        transform: translateY(0%);
        opacity: .7;

    }


    .box3-imgs:hover .people3 {
        z-index: 1;
        transform: translateY(0%);
        opacity: .7;

    }


    .box3-imgs:hover .people4 {
        z-index: 1;
        transform: translateY(0%);
        opacity: .7;

    }


    .people1,
    .people3 {
        transform: translateX(-100%);
    }

    .people2,
    .people4 {
        transform: translateX(100%);
    }

    .people1,
    .people2,
    .people3,
    .people4 {
        line-height: 15rem;
        border-radius: 0 0 6rem 6rem;
    }


    .box4 {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form {
        width: 600px;
        text-align: center;
        margin: 5rem auto 0;
        border-radius: 20px;


    }

    .box4-message {
        width: 100%;
        margin: 0;
    }

    .map {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    iframe {
        border-radius: 20px;
        overflow: hidden;
    }

    .foot {
        flex-wrap: wrap;
        flex-direction: column;

    }

    .foot-adress,
    .foot-hours,
    .foot-link {
        margin: 2rem auto;
        text-align: center;
        padding: 0;
        width: 100%;
    }

    .foot-link-title {
        margin-bottom: 3rem;
    }



    .foot-link a {
        width: 25%;
        text-align: left;
        margin-left: 5%;
        line-height: 1rem;
    }


}


@media screen and (max-width: 768px) {

    html {
        font-size: 4.5px;

    }

    .container {
        max-width: 700px;
    }

    .box {
        height: 50px;
    }

    .box-logo {
        height: 50px;
        max-width: 100%;
    }

    .box-hover {
        position: absolute;
        z-index: 5;
        margin-right: 1rem;
        display: block;
        top: 0;
        right: 2rem;
    }

    .box-nav {
        position: absolute;
        width: 100%;
        background-color: #000000;
        top: 45%;
        right: 4%;
        width: 20rem;
        height: 5rem;
        border-radius: 2rem;
        overflow: hidden;
        transition: all 1s ease-in-out 1s;
    }

    .box-nav ul {
        display: flex;
        flex-direction: column;
        line-height: 5rem;
        padding-left: 1rem;
        padding-top: 5rem;
        height: 0;

    }

    .box-hover:hover~.box-nav {
        height: 41rem;

    }

    .box-nav-li a {
        font-size: 2.5rem;
    }



    .box1 {
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 14rem;
        margin: 0 auto;

    }

    .box1-boarder_left {
        margin: 0 auto;
        width: 75%;
        box-sizing: border-box;
        padding: 4rem 1rem;
    }

    .box1-boarder_right {
        margin: 0 auto;
        width: 75%;
        right: 0;
        box-sizing: border-box;
        padding: 4rem 1rem;
    }

    .box1-cntr_left {
        margin: 0 auto;
        width: 75%;
        box-sizing: border-box;
        padding: 0;
        animation: none;

    }

    .order1 img {
        position: relative;
        animation: right-box1 2s ease-out;

    }

    @keyframes right-box1 {


        from {
            transform: translateX(-200%);
        }

        to {
            transform: translatex(0);
        }

    }


    .order2 img {
        position: relative;
        animation: right-box2 2s ease-out;

    }

    @keyframes right-box2 {


        from {
            transform: translateX(200%);
        }

        to {
            transform: translatex(0);
        }

    }


    .order1 img,
    .order2 img {
        padding: 4rem 1rem;
    }



    .box1-cntr_right {
        margin: 0 auto;
        width: 75%;
        box-sizing: border-box;
        padding: 0;
        animation: none;

    }

    .box2-big_foto {
        display: none;
    }

    .box3-imgs {
        overflow: hidden;
        width: 75%;
        margin: 2% auto;
        border-radius: 12rem;
    }

    .people1,
    .people2,
    .people3,
    .people4 {
        font-size: 6rem;
        line-height: 20rem;
        border-radius: 0 0 12rem 12rem;
    }

    .people1,
    .people2,
    .people3,
    .people4 {
        transform: translateY(100%);
    }

    .form {
        width: 75%;
        margin-bottom: 5%;
    }

    .box4-message {

        width: 100%;
        margin: 0 auto;
    }


    iframe {
        width: 75%;
    }
}