body {
    background-color: #212529;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 1440px;
}

a{
    cursor: zoom-in;
}

.hire-me {
    border: 2px solid #FFB742;
    border-radius: 50px;
    background-color: #FFB742;
    color: #212529;
    max-width: 150px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 26px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px 8px 48px;
}

.header-logo {
    width: 90.16px;
}


.header-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.header-nav>a,
a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12.5px 12.5px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}

/* .nav_a a {
    color: #FFB742;
} */

.header-nav>a:hover {
    color: #FFB742;
    transition: all 0.5s;
}


/* Section-info */

.section-info {
    margin: 108px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.info-a,
.info-a a {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;

}

.info-a a {
    color: #FFB742;
    text-decoration: underline;

}

.info-b {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 91px;
    text-align: center;
    color: #FFFFFF;

}

.info-c {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;

}

.info-img {
    width: 210px;
}

/* section Card */

.card {
    margin: 0 72px;
    display: flex;
    justify-content: space-between;
}


.card-a {
    width: 25%;
    border: 1px solid #292B2E;
    background-color: #292B2E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 50px 28px 30px;
    border-radius: 10px;

}



.card-a div {
    box-sizing: border-box;
}

.card-img {
    width: 64px;
}

.card-num {

    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #FFB742;

}

.card-txt {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;

}

.card-img-end {
    width: 20px;
    fill: #FFF;
}

.card-a:hover .card-num,
.card-a:hover .card-txt,
.card-a:hover .card-img-end {
    color: #000000;
    transform: all 0.4s;
    fill: #000000;

}

svg path {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
}


.card-a:hover {
    background-color: #FFB742;
    transform: all 0.4s;
}

/* section About */

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 137px 49px;
}

.about-foto {
    width: 620px;
}

.about-me {
    display: flex;
    flex-direction: column;
    margin: 85px 0 0 50px;


}

.me {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #FFB742;
    border: 1px solid #292B2E;
    border-radius: 50px;
    background-color: #292B2E;
    text-align: center;
    padding: 6px 25px;
    max-width: 150px;
    box-sizing: border-box;

}

.about-name {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    color: #FFF;
    text-align: left;
    margin: 30px 0 30px 0;

}

.about-info {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #D4D4D4;
    margin-bottom: 55px;


}

/* section cards */

.cards {
    margin: 0 103px;
    text-align: center;

}

.cards-works {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #FFB742;
    border: 1px solid #292B2E;
    background-color: #292B2E;
    border-radius: 50px;
    padding: 6px 25px;
    width: 160px;
    margin: 0 auto;
    text-align: center;

}

.cards-name {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: #FFF;
    
}

.section-nav {
    display: flex;
    justify-content: space-between;

}

.section-nav li {
    list-style: none;
}

.section-nav {
    width: 50%;
    margin: 0 auto;
    margin: 30px auto 50px;
}



.cards-nav a {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    border: 1px solid #212529;
    background-color: #212529;
    border-radius: 3px;
    padding: 5px 20px;
}


.cards-nav a:hover {
    border: 1px solid #FFB742;
    background-color: #FFB742;
    border-radius: 3px;
    padding: 5px 20px;
    transition: all 0.4s;
}


.cards-items {
    display: flex;
    justify-content: space-around;
}

.cards-img {
    margin: 32px 16px;
}

footer {
    background-color: #1C1C1C;
    padding: 148px 50px 93px 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.foot-name {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #FFB742;

}

.foot-info {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #D4D4D4;
    margin-top: 30.62px;

}

 .foot-dl {
    margin: 0;
} 

.foot-dt  {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #F5FBF2;
    list-style: none;
    padding-bottom: 15px;
    padding-left: 10px;

}

.foot-dd, .foot-dd a {
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #7B7B7B;
    text-transform: capitalize;
    margin-inline-start: 0;

}

.foot-dd a:active{
    color: #FFB742;
    font-size: 24px;
}